:root {
    --main-color: rgb(45, 111, 211);
    --light-accent-color: rgb(131, 176, 243);
    --dark-accent-color: rgb(25, 12, 71);
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(233, 233, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    flex: 0 0 100%;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, var(--main-color), var(--dark-accent-color));
}

aside {
    flex: 0 0 30%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    text-align: start;
}

input {
    padding: 1%;
    width: 80%;
}

button {
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin-top: 3%;
    width: 80%;
    background-color: var(--main-color);
    color: white;
}

button:hover {
    background-color: var(--light-accent-color);
}

button:active {
    border: solid 3px black;
}

ul {
    border-top: solid 1px black;
    list-style: none;
    padding: 0 2% 0 2%;
    margin-left: 3%;
    margin-right: 3%;
}

ul button {
    width: 90%;
    background-color: rgb(173, 173, 173);
    color: rgb(95, 95, 95);
}

ul button:hover {
    background-color: rgb(95, 95, 95);
    color: rgb(173, 173, 173);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 70%;
}

section {
    background-color: forestgreen;
    flex: 0 0 100%;
}

.forecast-card {
    background-color: palevioletred;
}