/* color variables */
:root {
    --main-color: rgb(45, 111, 211);
    --light-accent-color: rgb(131, 176, 243);
    --dark-accent-color: rgb(32, 18, 82);
    --light-gray: rgb(219, 219, 219);
    --med-gray: rgb(201, 201, 201);
    --dark-gray: rgb(153, 153, 153);
    --darkest-gray: rgb(63, 63, 63);
}

body {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--med-gray);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    flex: 0 0 100%;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, var(--main-color), var(--dark-accent-color));
}

/* sidebar selectors */
aside {
    flex: 0 0 30%;
    text-align: center;
}

/* form selectors */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 1%;
    width: 80%;
}

button {
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin-top: 3%;
    width: 80%;
    background-color: var(--main-color);
    color: white;
}

button:hover {
    background-color: var(--light-accent-color);
}

button:active {
    border: solid 3px black;
}

/* search history */
ul {
    border-top: solid 1px var(--darkest-gray);
    list-style: none;
    padding: 0 2% 0 2%;
    margin-left: 3%;
    margin-right: 3%;
}

ul button {
    width: 90%;
    background-color: var(--dark-gray);
    color: var(--darkest-gray);
}

ul button:hover {
    background-color: var(--darkest-gray);
    color: var(--dark-gray);
}

/* main content selectors */
main {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 66%;
}

section {
    flex: 0 0 100%;
    padding: 3% 3% 0 3%;
}

section ~ section {
    padding-top: 0;
    padding-bottom: 3%;
}

#current {
    border: solid 2px var(--darkest-gray);
    border-radius: 5px;
    background-color: var(--light-gray);
    padding: 2%;
    position: relative;
}

#current h2 {
    margin: 0;
    display: inline-block;
}

#current img {
    position: absolute;
    top: 12px;
}

#date {
    color: var(--darkest-gray);
}

/* UV index classes */
.favorable {
    background-color: rgb(2, 70, 2);
    color: white;
    border-radius: 3px;
    padding: 5px;
}

.moderate {
    background-color: rgb(165, 128, 5);
    color: white;
    border-radius: 3px;
    padding: 5px;
}

.severe {
    background-color: rgb(124, 26, 8);
    color: white;
    border-radius: 3px;
    padding: 5px;
}

/* 5-day forecast selectors */
#forecast {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forecast-card {
    flex: 0 0 15%;
    padding: 1%;
    background-color: var(--dark-accent-color);
    color: white;
    border-radius: 5px;
}